/* Add your CSS here */
:root {
    --r-b: #A05941;
    --g-b: #133032;
    --l-g: #EDEDEE; 
    --w: #FFF;
    --t-w: rgba(0,0,0,0.75); 
  }

body {
    background-color: var(--l-g);
    margin: 0;
    padding: 0;
}

header#header-1 {
    width: auto;
    height: 100%;
    margin: 2rem 2rem 0 2rem;
    padding: 1rem;
    background-color: var(--w);
    display: flex;
    flex-direction: row;
}

input[type=search] {
    box-sizing: border-box;
    border: 10px solid var(--w);
    background-image: url(/designs/search.png);
    background-size: 15%;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=search]:focus {
    outline-color: var(--r-b);
}

::placeholder {
    color: var(--r-b);
  }

div.login {
    display: flex;
    margin-left: auto;
}

@media screen and (max-width: 376px) {
    
    header#header-1 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: var(--w);
        display: flex;
        flex-direction: row;
    }

    header#header-1 form input {
        width: 100%;
    }

    div.login > img{
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        margin-right: 2rem;
        
    }

    header#header-2 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1rem;
        background-color: var(--l-g);
        display: flex;
        flex-direction: row;
    }

    h1 {
        color: var(--r-b);
        font-size:x-large;
        padding-left: 1rem;
    }
    
    div.img img {
        width: 2rem;
        height: 2rem;
        margin-left: 5rem;
        margin-top: 1rem;
    }

    div.p {
        color: var(--r-b);
        margin-left: 2rem;
        margin-top: -2rem;
        width: 100%;
    }

    /* div.card-1 img {
        width: 100%;
    } */

    /* div.card-1 {
        background-image: url(/designs/sticker-bush-g0a73c6639_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        height: auto;
        width: 5rem;
    }
} */







/* Dont' forget to link this file to your HTML in the <head> */


